html {
  font-family: "Noto Sans", sans-serif;
  color: #000;
}

i {
  font-family: "Noto Sans Japanese", sans-serif;
}

nav a {
  display: block;
  border-bottom: solid 2px #8bc9d9;
  text-decoration: none;
  color: #005e76;
}

.nav a:hover {
  color: #000;
}

.slogan {
  border-top: 2px solid #e2e2e2;
  border-bottom: 2px solid #e2e2e2;
}

.btn-ghost a {
  text-decoration: none;
  color: #005e76;
}

.btn-ghost {
  border-color: #8bc9d9;
  border-width: 2px;
}

.btn-ghost:hover {
  border-color: #005e76;
  color: #000;
  background-color: #0084a6;
}

@media only screen and (min-width: 60em) {

  .masthead {
    text-align: left;
  }

  .head-right {
    text-align: right;
  }

}
